
@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LandPage</title>
</head>
<body>
    <div class="border border-danger">
        <h1 class="ml-5">Landing Page</h1>
    </div>
    
</body>
</html>
